# requirements.txt

opencv-contrib-python

numpy
imutils
Pillow

torch
torchvision

# === Dashboard dependencies ===
flask

# === Optional but recommended ===
# tqdm - nice progress bars (used in some examples)
# matplotlib - if you want to visualize features later
# tqdm
# matplotlib